<navbar></navbar>

<div class="container" style="text-align: left;">
    <router-outlet></router-outlet>
</div>

<!-- <div class="container" style="text-align: left;">
    <button class="btn btn-primary" (click)="toggleUsuario()">Cambiar Vista</button>

    <div class="col-md-3" *ngIf="!usuario">
        <listadoproductosComponent></listadoproductosComponent>
    </div>

    <div class="row" *ngIf="usuario">
        <div class="col-md-3">
            <addProductoComponent></addProductoComponent>
        </div>
        <div class="col-md-9">
            <catalogoComponent></catalogoComponent>
        </div>
    </div>


</div>
 -->

<!-- <div class="container">
    <h1>Tienda</h1>



    <ul>
        <li class="text" *ngFor="let item of producto | async">
            {{item.nombre}} - {{item.marca}} - {{item.precio}}
        </li>
    </ul>
</div> -->